[Unit]
Description=Set time based on GPS

[Service]
Type=simple
EnvironmentFile=/etc/default/gpsdate
ExecStart=/usr/sbin/gpsdate --no-detach ${GPSDATE_HOST} ${GPSDATE_PORT}
